$section-about: #fbf7f4;
$border-blog: #e5e5e5;
$text-color: #fff;
$bg-blog-post: #e7eff1;
$color-bg: #2d2620;
$bg-btn: #333;
$color-text-black: #333;
$brand-color: #fed52f;

.navbar {
  background-color: $color-bg;
}

.blog-section-main-content {
  background-color: $section-about;
}

.blog-section-main {

  .blog-section-list {
    background-color: $text-color;

    &-item {
      padding: 20px 0;
      border-bottom: 1px solid $border-blog;
    }
  }

  &-content {
    margin-bottom: 40px;
    padding: 40px 35px 50px;
    background-color: $section-about;
  }
}

a {
  color: $color-text-black;
}

a.blog-item-link {
  margin-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}


.breadcrumbs-search {
  padding: 20px 0;
  margin-bottom: 20px;
}

.screen-reader-text,
.next.page-numbers,
.prev.page-numbers {
  display: none;
}

.page-numbers.current {
  padding: 10px 15px;
  background-color: $brand-color;
}

.page-numbers {
  margin: 20px 20px 20px 0;
}

.navigation.pagination {
  margin-bottom: 40px;
}
